
<h1>Listado de Usuario por ID</h1>

<table>
        
        <tr>
            <th>Id</th> 
            <th>Name</th>      
            <th>Email</th>           
        </tr>
        
{% if user %} 
    
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>                        
        </tr>        
        
    
    
{% endif %}

</table>
    