
<h1>Listado de Usuarios</h1>

<table>
        
        <tr>
            <th>Id</th> 
            <th>Name</th>      
            <th>Email</th> 
            
        </tr>
        
{% for Users in users %} 
    
        <tr>
            <td>{{ Users.id }}</td>
            <a href="#"><td>{{ Users.name }}</td></a>
            <td>{{ Users.email }}</td>    
            
        </tr>        
            
{% endfor %}

</table>
    
    



