{% extends 'base.html.twig' %}

{% block body %}
    {% include 'app/header.html.twig' %}

    {% include 'app/sidebar.html.twig' %}

    <div class="content-wrapper" style="min-height: 916px;">
        {# Content Header (Page header) #}
        <section class="content-header">
            <h1>
                {% block title %}{% endblock %}
                <small>{% block sub_title %}{% endblock %}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        {# Main content #}
        <section class="content">
            {% block content %}{% endblock %}
        </section>
        {# /.content #}
    </div>

    {% include 'app/footer.html.twig' %}

    {% include 'app/control.html.twig' %}

{% endblock %}