
<br><label>Select Team: </label><br/>
    
    {% for Users in users %}
        
        <input id="itemSelected"  name="select" type = "checkbox">
            {{ Users.name }}<br/>
                   
   {% endfor %}
   
