{% extends '::layout.html.twig' %}

{% block page_title -%} Project Edit {% endblock %}

{% block content %}
    {% block edit %}
        {{ form(edit_form) }}
    {% endblock%}
<ul class="record_actions">
    <li>
        <a href="{{ path('project') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
