{% extends '::layout.html.twig' %}

{% block page_title -%} New Version {% endblock %}

{% block content %}
    
    {{ form(form) }}

    {#<ul class="record_actions">
<li>
    <a href="{{ path('version') }}">
        Back to the list
    </a>
</li>
</ul>#}
{% endblock %}
