{% extends '::layout.html.twig' %}

{% block content %}
    <h1>ProjectStatus creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('config_project_status') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
